<configuration>
  <packageSources>
    <add key="Local package source" value="C:\Nuget.Local" />
    <add key="Third Wave package source" value="https://www.myget.org/F/thirdwave/" />
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
