<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core"/>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core"/>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>

  <!-- Logging Config -->
  <log4net configSource="Config\Log4Net.config"/>

  <!-- NServiceBus Config -->
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="__NAME__.error"/>
  <AuditConfig QueueName="__NAME__.audit"/>
  <UnicastBusConfig configSource="Config\UnicastBus.config"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
