<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="Crux.Core" version="0.2.1" targetFramework="net451" />
  <package id="Crux.Domain" version="0.2.1" targetFramework="net451" />
  <package id="Crux.Domain.Persistence" version="0.2.1" targetFramework="net451" />
  <package id="Crux.NServiceBus" version="0.2.1" targetFramework="net451" />
  <package id="Crux.StructureMap" version="0.2.1" targetFramework="net451" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net451" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net451" />
  <package id="NServiceBus" version="5.2.0" targetFramework="net451" />
  <package id="NServiceBus.Host" version="6.0.0" targetFramework="net451" />
  <package id="NServiceBus.Log4Net" version="1.0.0" targetFramework="net451" />
  <package id="NServiceBus.StructureMap" version="5.0.1" targetFramework="net451" />
  <package id="structuremap" version="3.1.5.154" targetFramework="net451" />
</packages>