<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="NServiceBusLogging" type="NServiceBus.Config.Logging, NServiceBus.Core"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <NServiceBusLogging Threshold="Debug"/>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="__NAME__.Messages" Endpoint="__NAME__.input"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>