<configuration>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="Third Wave package source" value="http://MyRepo/ES/nuget" />
    <add key="Local package source" value="C:\Nuget.Local" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</copnfiguration>
